///deep/ .ivu-drawer-header{
//  padding-left 38px
//}

  // 父表的样式
/deep/.data-table{
  .ivu-table .name-row-ellipsis{
    font-size 12px
    line-height: 15px;
    height: 15px;
  }
  .ivu-table .tip-row-line{
    font-size 10px
    line-height: 15px;
    height: 15px;
    margin-top 0px
  }
  ivu-table-row-highlight td, .ivu-table-stripe .ivu-table-body tr.ivu-table-row-highlight:nth-child(2n) td, .ivu-table-stripe .ivu-table-fixed-body tr.ivu-table-row-highlight:nth-child(2n) td, tr.ivu-table-row-highlight.ivu-table-row-hover td{
    background-color #EBF7FF
  }
  tr.ivu-table-row-hover td{
    background-color #EBF7FF
  }
  .ssp_table{
    position relative
    display flex
    justify-content space-between
    .name-row-ellipsis {
      margin-top 5px
    }
    .ssp_create{
      line-height 30px
      padding-right 12px
      color #4083F8
      font-size 16px
      cursor pointer
      .ssp_control{
        width 20px
        height 20px
        text-align center
        line-height 20px
        color #FFFFff
        position absolute
        top:0px
        right 0px
        img{
          width 100%
        }
      }
    }
  }
  .data_value{
    font-size 14px
    color #333333
    line-height: 15px;
  }
  .data_scale{
    font-size 10px
    color #999999
    &.up_scale{
      color #D72E1B
    }
    &.down_scale{
      color #339900
    }
  }
}
/deep/.sublist{
  position: relative
  .ivu-table th{
    background-color #F9F1E4
    height 36px
    font-size 13px
    padding 4px 0
    color #333333
  }
  .ivu-table .name-row-ellipsis{
    font-size 12px
    line-height: 15px;
    height: 15px;
  }
  .ivu-table .tip-row-line{
    font-size 10px
    line-height: 15px;
    height: 15px;
    margin-top 0px
  }
  .ivu-table .ivu-table-row td{
    padding 0px 0
  }
  ivu-table-row-highlight td, .ivu-table-stripe .ivu-table-body tr.ivu-table-row-highlight:nth-child(2n) td, .ivu-table-stripe .ivu-table-fixed-body tr.ivu-table-row-highlight:nth-child(2n) td, tr.ivu-table-row-highlight.ivu-table-row-hover td{
    background-color #FFF0D6 !important
  }
  .ivu-table-stripe .ivu-table-body tr:nth-child(2n) td, .ivu-table-stripe .ivu-table-fixed-body tr:nth-child(2n) td{
    background-color #FFFFff
  }
  tr.ivu-table-row-hover td{
    background-color #FFF0D6 !important
  }
  .data_value{
    font-size 14px
    color #333333
    line-height: 15px;
  }
  .data_scale{
    font-size 10px
    color #999999
    &.up_scale{
      color #D72E1B
    }
    &.down_scale{
      color #339900
    }
  }
  i.pos{
    position: absolute
    left: -30px
    top: 0px
    width: 30px
    height: 32px
    line-height: 32px
    text-align: center
    color: #666
    font-size: 14px
    cursor: pointer
    &:hover {
      color: #4083F8
    }
  }
}
.filter-card
  margin-bottom: 10px
  .filter-select
    width: 152px
    margin-right: 10px
.source-handler
  position: relative
  padding-right: 30px
  .label-status
    position: absolute
    right: 0px
    top: 0px
    height: 100%
    width: 30px
    .delete
      display: block
      height: 30px
      line-height: 30px
      text-align: center
      font-size: 18px
      cursor: pointer
      color: #4083F8
    .deleted
      position:absolute
      right: -2px
      top: -8px
      width: 40px
/deep/.source-table
  .ivu-table-cell
    overflow: inherit
