@font-face
  font-family: 'iconfont'
  src: url('../fonts/iconfont.eot?1547782879911');
  src: url('../fonts/iconfont.eot?1547782879911#iefix') format('embedded-opentype'),
          url('../fonts/iconfont.ttf?1547782879911') format('truetype'),
          url('../fonts/iconfont.woff?1547782879911') format('woff'),
          url('../fonts/iconfont.svg?1547782879911#iconfont') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-exit:before {
  content: "\e617";
}

.icon-catalog:before {
  content: "\e6c9";
}

.icon-notice-right:before {
  content: "\e64c";
}

.icon-close:before {
  content: "\e610";
}

.icon-quit:before {
  content: "\e615";
}

.icon-up:before {
  content: "\e616";
}

.icon-notice:before {
  content: "\e618";
}

.icon-account-card:before {
  content: "\e61c";
}

.icon-edit:before {
  content: "\e61e";
}

.icon-delete-table:before {
  content: "\e61f";
}

.icon-batch-set:before {
  content: "\e624";
}

.icon-data:before {
  content: "\e626";
}

.icon-echart:before {
  content: "\e628";
}

.icon-data-table:before {
  content: "\e629";
}

.icon-zoom-up:before {
  content: "\e62a";
}

.icon-date:before {
  content: "\e62b";
}

.icon-upload-cloud:before {
  content: "\e62c";
}

.icon-download:before {
  content: "\e62d";
}

.icon-upload:before {
  content: "\e62e";
}

.icon-reset-psw:before {
  content: "\e62f";
}

.icon-search:before {
  content: "\e630";
}

.icon-none:before {
  content: "\e631";
}

.icon-account:before {
  content: "\e632";
}

.icon-psw:before {
  content: "\e633";
}

.icon-shield:before {
  content: "\e604";
}

.icon-plus:before {
  content: "\e600";
}

.icon-uparrow:before {
  content: "\e6b3";
}

.icon-botarrow:before {
  content: "\e6b4";
}

.icon-rightarrow:before {
  content: "\e6b9";
}

.icon-leftarrow:before {
  content: "\e6e7";
}

.icon-why:before {
  content: "\e60b";
}

.icon-zoomup:before {
  content: "\e63f";
}

.icon-turn-link:before {
  content: "\e644";
}

.icon-excel:before {
  content: "\e645";
}

.icon-new-create:before {
  content: "\e648";
}

.icon-fold:before {
  content: "\e649";
}

.icon-filter:before {
  content: "\e64a";
}

.icon-unfold:before {
  content: "\e6ea";
}

.icon-detail:before {
  content: "\e623";
}