.upload-inner
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	color: #BFBFBF
	.inner-text
		margin-top: 6px
		font-size: 14px
		color: #999999
.item-upload-fix
	font-size: 14px
.demo-spin-icon-load{
	animation: ani-demo-spin 1s linear infinite;
}
@keyframes ani-demo-spin {
	from { transform: rotate(0deg);}
	50%  { transform: rotate(180deg);}
	to   { transform: rotate(360deg);}
}